body{
    font-family: 'Open san', sans-serif;
    background-color: black;
}
h1{
    color: blanchedalmond;
    text-align: center;
}
.container{
	display: grid;
	justify-content: center;
	align-items: center;
	width: 1000px;
	height: 1000px;
	background-color: rgb(33, 20, 220);
	margin: 20px auto;	
}
.calculators{

	width: 320px;
	height: 520px;
	background-color: #eaedef;
	margin: 0 auto;
	top: 20px;
	position: relative;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	/* grid-template-columns: repeat(4, 100px);
	grid-template-rows: minmax(120px, auto) repeat(4, 100px); */
}

#input_value{

	text-align: right;
	height: 90px;
    font-size: 25px;
	word-wrap: break-word;
	word-break: break-all;
}

#keyboard{
	height: 400px;
	
}
.operator, .number, .empty{
	width: 50px;
	height: 50px;
	margin: 15px;
	float: left;
	border-radius: 50%;
	border-width: 0;
	font-weight: bold;
	font-size: 18px;
}
.number, .empty{
	font-size: 20px;
	background-color: brown
}
.number, .operator{
	cursor: pointer;
}
.operator:active, .number:active{
	font-size: 13px;
}
.operator:focus, .number:focus, .empty:focus{
	outline: 0;
}
